* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", arial, sans-serif;
}

.navbar {
    position: sticky;
    top: 0;
    /* Možnost mít position: sticky, menu pak neroluje dolů. Je potřeba pořešit schování nebo velikost obrázku za MENU. 
    Dále pak hamburger menu pro mobily. @media */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 80px;
    margin: 0;
    padding: 15px 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.nav-left .logo {
    height: 40px;
}

.logo svg {
    width: auto;
    height: 40px;
}

.nav-center {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-center a {
    color: #999999;
    font-weight: 800;
    text-transform: uppercase;
    padding: 11px;
    display: inline-block;
    text-decoration: none;
}

.nav-center a:hover {
    color: #1A1A1A;
    text-decoration: underline;
}

.nav-right a {
    font-size: 32px;
    color: #333;
    transition: 0.3s;
}

.nav-right a:hover {
    color: #e1306c;
    font-size: 34px;    
}

.mainFrame {
    background-image: url("../asset/frontPage.jpg");
     
    min-height: 100vh; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: red;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
}

.footer {
    background-color: #1A1A1A;
    margin: 0;
    padding: 15px;
    color: white;
    text-align: center;
    padding: 20px;
    color: #aaa;
}

 .menu-icon {
    display: none;
}


.kontakt{
    padding:60px 20px;
    background:#f5f5f5;
}

.kontaktInfo{
    max-width:1100px;
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    gap:60px;
    align-items:center;
    justify-content: space-between;
}

/* levý sloupec */
.kontaktLevy{
    flex:1;
    font-size:16px;
    line-height:1.9;
    min-width: 200px;
}

.kontaktLevy p{
    font-size: 18px;
    padding-top: 12px;    
}

.kontaktLevy a {
    text-decoration: none;
    color: #333;
}

.kontaktLevy h2{
    margin-bottom:20px;
    font-size: 40px;
}

.kontaktIco{
    padding-right: 10px;
}

#name {
    font-size: 25px;
    padding-bottom: 8px;
}

/* pravý sloupec */
.kontaktPravy{
    flex:2;
    min-width: 300px;
}

/* formulář */
.kontaktForm{
    display:flex;
    width: 100%;
    flex-direction:column;
    gap:15px;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.kontaktForm input,
.kontaktForm textarea{
    padding:12px;
    border:1px solid #ddd;
    border-radius:6px;
    font-size:14px;
}

.tlacitka{
    display:flex;
    gap:10px;
}

.kontaktForm button{
    padding:12px 18px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    background:#333;
    color:white;
}

.kontaktForm button.secondary{
    background:#ccc;
    color:#333;
}

.mapa {
    display: flex;
    justify-content: center;    
}

.mapaCenter {
    width: 90%;    
}

.mapaFull {
    height: 50vh;
    width: 100%;
    border: 0px;
}

/* mobil */
/* Pokud je šířka displaye menš než 768px pak zobrazit burger menu. */    
@media (max-width: 768px) {
   
    .menu-icon {
        display: inline-block;
    }

    .nav-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mainObraz, .mainFrame { 
        min-height: 100vh;
        object-fit: cover;
    }

    .kontaktInfo{
        display: flex;
        flex-direction:column;
    }

    .kontaktLevy {
        min-width: 200px;
    }

    .kontaktPravy{
        min-width: 300px;
    }

    .kontaktForm {
        width: 100%;
    }
}

